[submodule "pocx"]
	path = pocx
	url = https://github.com/PoC-Consortium/pocx.git
	branch = master
[submodule "electrs"]
	path = electrs
	url = https://github.com/PoC-Consortium/electrs-pocx.git
	branch = pocx
[submodule "bitcoin"]
	path = bitcoin
	url = https://github.com/PoC-Consortium/bitcoin.git
	branch = pocx-v30-RC4
