[submodule "pocx"]
	path = pocx
	url = https://github.com/PoC-Consortium/pocx.git
	branch = master
[submodule "bitcoin-pocx"]
	path = bitcoin-pocx
	url = https://github.com/PoC-Consortium/bitcoin.git
	branch = master
