[submodule "pocx"]
	path = pocx
	url = https://github.com/PoC-Consortium/pocx.git
	branch = master
[submodule "bitcoin-pocx"]
	path = bitcoin-pocx
	url = https://github.com/PoC-Consortium/bitcoin.git
	branch = pocx-v30-RC2
[submodule "electrs-pocx"]
	path = electrs-pocx
	url = https://github.com/PoC-Consortium/electrs-pocx.git
