{
  "PoCXBinariesPath": "./pocx/target/release",
  "PlotDirectory": "./plots",
  "WalletFilePath": "./wallet.json",
  "MinerConfigPath": "./config.yaml",
  "BitcoinNodeHost": "localhost",
  "BitcoinNodePort": 18332,
  "BitcoinBinariesPath": "./bitcoin/src",
  "UseDocker": true,
  "DockerRegistry": "ghcr.io/ev1ls33d/pocx-wallet",
  "DockerImageTag": "latest",
  "DockerNetwork": "pocx",
  "BitcoinContainerName": "pocx-node",
  "MinerContainerName": "miner",
  "PlotterContainerName": "plotter",
  "ElectrsContainerName": "electrs",
  "EnableElectrs": false
}
